<script context="module" lang="ts">
	import { overrideItemIdKeyNameBeforeInitialisingDndZones } from 'svelte-dnd-action';
	overrideItemIdKeyNameBeforeInitialisingDndZones('_id');
</script>

<script lang="ts">
	import { onMount } from 'svelte';
	import dataManager from './dataManager';
	import CreateListDialog from './CreateListDialog.svelte';
	import CreateCardInListDialog from './CreateCardInListDialog.svelte';
	import UpdateListDialog from './UpdateListDialog.svelte';
	import UpdateCardDialog from './UpdateCardDialog.svelte';
	import ListList from './ListList.svelte';

	onMount(async () => {
		await dataManager.open();
		return async () => await dataManager.close();
	});
</script>

<ListList />

<CreateListDialog />
<UpdateListDialog />
<CreateCardInListDialog />
<UpdateCardDialog />
