<script lang="ts">
	import dataManager from './dataManager';
	import { openUpdateCardDialog } from './UpdateCardDialog.svelte';

	export let _id: string;
	export let name: string;

	async function deleteCard() {
		await dataManager.deleteCard(_id);
	}
</script>

<article id={_id}>
	<header class="header">
		<span class="name">{name}</span>
		<button type="button" on:click={() => openUpdateCardDialog(_id, name)}>open</button>
	</header>
	<footer class="footer">
		<slot name="footer">
			<button type="button" on:click={deleteCard}>delete</button>
		</slot>
	</footer>
</article>

<style>
	.header {
		display: flex;
		flex-direction: row;
		margin-bottom: 0.5rem;
	}
	.header > .name {
		flex-grow: 1;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.footer {
		margin-top: 0.5rem;
	}
</style>
