<script lang="ts">
	import { flip } from 'svelte/animate';
	import dataManager from './dataManager';
	import Comment from './Comment.svelte';

	export let cardId: string;

	$: comments = typeof cardId !== 'undefined' ? dataManager.getCommentsOnCardStore(cardId) : null;
</script>

{#if comments === null || $comments.length === 0}
	<p>no comments</p>
{:else}
	<ul class="commentList">
		{#each $comments as comment (comment._id)}
			<li class="comment" animate:flip={{ duration: 200 }}>
				<Comment {...comment} {cardId} />
			</li>
		{/each}
	</ul>
{/if}

<style>
	.commentList {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.comment {
		border-radius: 0.2rem;
		padding: 0.4rem;
		background-color: rgba(0, 0, 0, 0.1);
		border: 0.1rem solid rgba(0, 0, 0, 0.1);
	}
</style>
