<script lang="ts">
	import dataManager from './dataManager';
	import { onMount } from 'svelte';

	export let _id: null | string;
	export let cardId: string;
	export let content: string;

	function deriveIsCreateMode(id: undefined | null | string): id is null {
		return typeof id !== 'undefined' && id === null;
	}

	let editMode = false;
	let updatedCommentContent: string;
	$: updatedCommentContent = content || '';
	let isAllowedUpdate: boolean;
	$: isAllowedUpdate =
		typeof content !== 'undefined' &&
		updatedCommentContent !== '' &&
		updatedCommentContent !== content;
	function openEditMode() {
		editMode = true;
	}
	function cancel() {
		updatedCommentContent = content;
	}
	function cancelEditMode() {
		cancel();
		editMode = false;
	}
	async function closeEditMode() {
		if (isAllowedUpdate) {
			if (!deriveIsCreateMode(_id)) {
				await dataManager.updateComment(_id, {
					content: updatedCommentContent,
				});
			} else {
				await dataManager.createComment(updatedCommentContent, cardId);
				updatedCommentContent = '';
			}
		}
		if (!deriveIsCreateMode(_id)) {
			editMode = false;
		}
	}

	async function deleteComment() {
		if (!deriveIsCreateMode(_id)) {
			await dataManager.deleteComment(_id);
		}
	}

	onMount(() => {
		editMode = deriveIsCreateMode(_id);
	});
</script>

<article id={_id}>
	{#if editMode}
		<textarea placeholder="comment" bind:value={updatedCommentContent} class="commentInput" />
	{:else}
		<pre class="commentOutput">{updatedCommentContent}</pre>
	{/if}
	<footer>
		{#if editMode}
			<button type="button" on:click={closeEditMode} disabled={!isAllowedUpdate}>save</button>
			{#if deriveIsCreateMode(_id)}
				<button type="button" on:click={cancel} disabled={!isAllowedUpdate}>cancel</button>
			{:else}
				<button type="button" on:click={cancelEditMode}>cancel</button>
			{/if}
		{:else}
			<button type="button" on:click={openEditMode}>edit</button>
		{/if}
		{#if !deriveIsCreateMode(_id)}
			<button type="button" on:click={deleteComment}>delete</button>
		{/if}
	</footer>
</article>

<style>
	.commentInput {
		resize: vertical;
		width: 100%;
		box-sizing: border-box;
	}
	.commentOutput {
		white-space: normal;
		word-wrap: break-word;
	}
</style>
