<script context="module" lang="ts">
	import { get, writable } from 'svelte/store';
	import dataManager from './dataManager';

	let createListDialog: HTMLDialogElement;
	const newListName = writable('');
	export function openCreateListDialog() {
		createListDialog.showModal();
	}
	function cancelCreateListDialog() {
		createListDialog.close();
		newListName.set('');
	}
	function closeCreateListDialog() {
		const $newListName = get(newListName);
		if ($newListName) {
			dataManager.createList($newListName);
			newListName.set('');
		}
		if (createListDialog.open) {
			createListDialog.close();
		}
	}
</script>

<script lang="ts">
	import Dialog from './Dialog.svelte';
</script>

<Dialog
	bind:node={createListDialog}
	on:close={closeCreateListDialog}
	on:cancel={cancelCreateListDialog}
	isModal
>
	<svelte:fragment slot="header">Create List</svelte:fragment>
	<form id="createListForm" method="dialog" slot="body">
		<input type="text" bind:value={$newListName} />
	</form>
	<svelte:fragment slot="footer">
		<button type="submit" form="createListForm" disabled={!$newListName}>create</button>
		<button type="button" on:click={cancelCreateListDialog}>cancel</button>
	</svelte:fragment>
</Dialog>
