<script context="module" lang="ts">
	import { get, writable } from 'svelte/store';
	import dataManager from './dataManager';

	let _id: string;

	let createCardInListDialog: HTMLDialogElement;
	const newCardName = writable('');
	export function openCreateCardInListDialog(id: string) {
		_id = id;
		createCardInListDialog.showModal();
	}
	function cancelCreateCardInListDialog() {
		createCardInListDialog.close();
		newCardName.set('');
	}
	async function closeCreateCardInListDialog() {
		const $newCardName = get(newCardName);
		if ($newCardName) {
			await dataManager.createCardInList($newCardName, _id);
			newCardName.set('');
		}
		if (createCardInListDialog.open) {
			createCardInListDialog.close();
		}
	}
</script>

<script lang="ts">
	import Dialog from './Dialog.svelte';
</script>

<Dialog
	bind:node={createCardInListDialog}
	on:close={closeCreateCardInListDialog}
	on:cancel={cancelCreateCardInListDialog}
	isModal
>
	<svelte:fragment slot="header">Create Card</svelte:fragment>
	<form id="createCardInListForm" method="dialog" slot="body">
		<input type="text" bind:value={$newCardName} />
	</form>
	<svelte:fragment slot="footer">
		<button type="submit" form="createCardInListForm" disabled={!$newCardName}>create</button>
		<button type="button" on:click={cancelCreateCardInListDialog}>cancel</button>
	</svelte:fragment>
</Dialog>
