<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import DialogBodySection from './DialogBodySection.svelte';

	export let node: HTMLDialogElement;
	export let isModal = false;
	export let stickyHeader = false;
	export let stickyFooter = false;

	const dispatch = createEventDispatcher();
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<dialog
	bind:this={node}
	on:close
	on:cancel|preventDefault
	on:click|self={(event) => dispatch('cancel', event)}
	class:isModal
>
	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<div class="dialogContent" on:click|stopPropagation>
		{#if $$slots.header}
			<header class="header" class:stickyHeader>
				<slot name="header" />
			</header>
		{/if}
		{#if $$slots.body}
			<DialogBodySection>
				<slot name="body" />
			</DialogBodySection>
		{:else}
			<slot />
		{/if}
		{#if $$slots.footer}
			<footer class="footer" class:stickyFooter>
				<slot name="footer" />
			</footer>
		{/if}
	</div>
</dialog>

<style>
	dialog {
		--dialog-padding: 1rem;
		--dialog-border: 0.1rem solid rgba(0, 0, 0, 0.28);
		max-width: 32rem;
		border-radius: 0.4rem;
		border: var(--dialog-border);
		padding: 0;
		background-color: #fff;
	}

	dialog:not(.isModal) {
		box-shadow: 0 3px 2px rgba(0, 0, 0, 0.039), 0 7px 5px rgba(0, 0, 0, 0.057),
			0 13px 10px rgba(0, 0, 0, 0.07), 0 22px 18px rgba(0, 0, 0, 0.083),
			0 42px 33px rgba(0, 0, 0, 0.101), 0 100px 80px rgba(0, 0, 0, 0.14);
	}
	dialog.isModal {
		border-color: transparent;
	}

	dialog:not(.isModal)::backdrop {
		background-color: rgba(0, 0, 0, 0);
	}
	dialog.isModal::backdrop {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.dialogContent {
		border-radius: inherit;
		position: relative;
		background-color: inherit;
	}

	.header {
		padding: var(--dialog-padding) var(--dialog-padding) calc(var(--dialog-padding) / 2)
			var(--dialog-padding);
		border-bottom: var(--dialog-border);
	}
	.footer {
		padding: calc(var(--dialog-padding) / 2) var(--dialog-padding) var(--dialog-padding)
			var(--dialog-padding);
		border-top: var(--dialog-border);
	}

	.header.stickyHeader {
		position: sticky;
		top: 0;
		background-color: inherit;
	}

	.footer.stickyFooter {
		position: sticky;
		bottom: 0;
		background-color: inherit;
	}

	dialog[open] {
		animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
	}
	@keyframes zoom {
		from {
			transform: scale(0.95);
		}
		to {
			transform: scale(1);
		}
	}

	dialog[open]::backdrop {
		animation: fade 0.3s ease-out;
	}
	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
</style>
