<script lang="ts">
	export let separator = false;
</script>

<section class="body" class:separator>
	<slot />
</section>

<style>
	.body {
		padding: var(--dialog-padding);
	}
	.body.separator {
		border-top: var(--dialog-border);
	}
</style>
