<script lang="ts">
	import { flip } from 'svelte/animate';
	import { dndzone } from 'svelte-dnd-action';
	import dataManager from './dataManager';
	import { openUpdateListDialog } from './UpdateListDialog.svelte';
	import { openCreateCardInListDialog } from './CreateCardInListDialog.svelte';
	import type CardClass from './Card';
	import Card from './Card.svelte';

	export let _id: string;
	export let name: string;
	export let cards: CardClass[] = [];
	let internallySortedCards: CardClass[];
	$: internallySortedCards = cards;

	const flipDurationMs = 200;

	function handleConsiderSort({ detail: { items } }: { detail: { items: CardClass[] } }) {
		internallySortedCards = items;
	}
	function handleFinalizeSort(event: CustomEvent<DndEvent<Card[]>>) {
		// TODO: issue or MR for svelte-dnd-action to add nativeEvent to the DndEvent
		const {
			items,
			info: { id: cardId },
		} = event.detail;
		let nativeEvent: undefined | Event;
		if ('nativeEvent' in event.detail.info) {
			nativeEvent = event.detail.info.nativeEvent;
		}
		if (
			nativeEvent &&
			(nativeEvent.ctrlKey || (nativeEvent.modifiers & Event.CONTROL_MASK) === 2)
		) {
			const newCardIds = items.map(({ _id: cardIdTwo }) => cardIdTwo);
			if (newCardIds.includes(cardId)) {
				dataManager.changeSortOrderOfCardsInList(newCardIds, _id);
			}
		} else {
			dataManager.changeSortOrderOfCardsInList(
				items.map(({ _id: cardId }) => cardId),
				_id
			);
		}
	}

	async function removeCardFromList(cardId: string) {
		await dataManager.removeCardFromList(cardId, _id);
	}
</script>

<article id={_id}>
	<header class="header">
		<span class="name">{name}</span>
		<button type="button" on:click={() => openUpdateListDialog(_id, name)}>open</button>
	</header>
	<ul
		use:dndzone={{
			items: internallySortedCards,
			flipDurationMs,
		}}
		on:consider={handleConsiderSort}
		on:finalize={handleFinalizeSort}
		type="card"
		class="cardList"
	>
		{#each internallySortedCards as card (card._id)}
			<li class="card" animate:flip={{ duration: flipDurationMs }}>
				<Card {...card}>
					<svelte:fragment slot="footer">
						<button type="button" on:click={() => removeCardFromList(card._id)}>remove</button>
					</svelte:fragment>
				</Card>
			</li>
		{/each}
	</ul>
	<footer class="footer">
		<button type="button" on:click={() => openCreateCardInListDialog(_id)}>create card</button>
	</footer>
</article>

<style>
	.header {
		display: flex;
		flex-direction: row;
		margin-bottom: 0.5rem;
	}
	.header > .name {
		flex-grow: 1;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.footer {
		margin-top: 0.5rem;
	}

	.cardList {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		min-height: 1rem;
	}

	.card {
		border-radius: 0.2rem;
		padding: 0.4rem;
		background-color: rgba(0, 0, 0, 0.1);
		border: 0.1rem solid rgba(0, 0, 0, 0.1);
	}
</style>
