<script lang="ts">
	import dataManager from './dataManager';
	import List from './List.svelte';
	import { openCreateListDialog } from './CreateListDialog.svelte';

	const lists = dataManager.getListsStore();
</script>

<button type="button" on:click={openCreateListDialog}>create list</button>

<ul class="listList">
	{#each $lists as list (list._id)}
		<li class="list">
			<List {...list} />
		</li>
	{/each}
</ul>

<style>
	.listList {
		overflow-x: auto;
		list-style: none;
		padding: 0 0 1rem 0;
		display: flex;
		gap: 0.5rem;
	}

	.list {
		min-width: 250px;
		border-radius: 0.2rem;
		padding: 0.4rem;
		background-color: rgba(0, 0, 0, 0.1);
		border: 0.1rem solid rgba(0, 0, 0, 0.1);
		overflow-y: auto;
	}
</style>
