<script context="module" lang="ts">
	import { derived, get, writable } from 'svelte/store';
	import dataManager from './dataManager';

	const _id = writable<string>();
	const name = writable<string>();

	const updateCardDialog = writable<HTMLDialogElement>();
	const updatedCardName = writable<string>();
	const isAllowedUpdate = derived(
		[name, updatedCardName],
		([$name, $updatedCardName]) =>
			typeof $name !== 'undefined' && $updatedCardName !== '' && $updatedCardName !== $name
	);
	export function openUpdateCardDialog(id: string, initialName: string) {
		_id.set(id);
		name.set(initialName);
		updatedCardName.set(initialName);
		const $updateCardDialog = get(updateCardDialog);
		$updateCardDialog.showModal();
	}
	function cancelUpdateCardDialog(close = true) {
		const $name = get(name);
		updatedCardName.set($name);
		if (close) {
			const $updateCardDialog = get(updateCardDialog);
			if ($updateCardDialog.open) {
				$updateCardDialog.close();
			}
		}
	}
	async function closeUpdateCardDialog() {
		const $isAllowedUpdate = get(isAllowedUpdate);
		if ($isAllowedUpdate) {
			const $_id = get(_id);
			const $updatedCardName = get(updatedCardName);
			await dataManager.updateCard($_id, {
				name: $updatedCardName,
			});
		}
		const $updateCardDialog = get(updateCardDialog);
		if ($updateCardDialog.open) {
			$updateCardDialog.close();
		}
	}

	async function deleteCard() {
		const $_id = get(_id);
		await dataManager.deleteCard($_id);
		cancelUpdateCardDialog();
		const $updateCardDialog = get(updateCardDialog);
		if ($updateCardDialog.open) {
			$updateCardDialog.close();
		}
	}
</script>

<script lang="ts">
	import Dialog from './Dialog.svelte';
	import CardComments from './CardComments.svelte';
	import NewComment from './NewComment.svelte';
	import DialogBodySection from './DialogBodySection.svelte';
</script>

<Dialog
	bind:node={$updateCardDialog}
	on:close={closeUpdateCardDialog}
	on:cancel={cancelUpdateCardDialog}
	isModal
	stickyHeader
>
	<svelte:fragment slot="header">
		<input type="text" bind:value={$updatedCardName} />
	</svelte:fragment>
	<DialogBodySection>
		<form method="dialog">
			<button type="submit" disabled={!$isAllowedUpdate}>save</button>
			<button type="button" on:click={deleteCard}>delete</button>
			<button type="button" on:click={() => cancelUpdateCardDialog(!$isAllowedUpdate)}
				>{$isAllowedUpdate ? 'cancel' : 'close'}</button
			>
		</form>
	</DialogBodySection>
	<DialogBodySection separator>
		<header>Comments</header>
		<NewComment cardId={$_id} />
	</DialogBodySection>
	<DialogBodySection>
		<CardComments cardId={$_id} />
	</DialogBodySection>
</Dialog>
