<script context="module" lang="ts">
	import { derived, get, writable } from 'svelte/store';
	import dataManager from './dataManager';

	let _id: string;
	const name = writable<string>();

	const updateListDialog = writable<HTMLDialogElement>();
	const updatedListName = writable<string>();
	const isAllowedUpdate = derived(
		[name, updatedListName],
		([$name, $updatedListName]) =>
			typeof $name !== 'undefined' && $updatedListName !== '' && $updatedListName !== $name
	);
	export function openUpdateListDialog(id: string, initialName: string) {
		_id = id;
		name.set(initialName);
		updatedListName.set(initialName);
		const $updateListDialog = get(updateListDialog);
		$updateListDialog.showModal();
	}
	function cancelUpdateListDialog(close = true) {
		const $name = get(name);
		updatedListName.set($name);
		if (close) {
			const $updateListDialog = get(updateListDialog);
			if ($updateListDialog.open) {
				$updateListDialog.close();
			}
		}
	}
	async function closeUpdateListDialog() {
		const $isAllowedUpdate = get(isAllowedUpdate);
		if ($isAllowedUpdate) {
			const $updatedListName = get(updatedListName);
			await dataManager.updateList(_id, {
				name: $updatedListName,
			});
		}
		const $updateListDialog = get(updateListDialog);
		if ($updateListDialog.open) {
			$updateListDialog.close();
		}
	}

	async function deleteList() {
		await dataManager.deleteList(_id);
		cancelUpdateListDialog();
		const $updateListDialog = get(updateListDialog);
		if ($updateListDialog.open) {
			$updateListDialog.close();
		}
	}
</script>

<script lang="ts">
	import Dialog from './Dialog.svelte';
</script>

<Dialog
	bind:node={$updateListDialog}
	on:close={closeUpdateListDialog}
	on:cancel={cancelUpdateListDialog}
	isModal
>
	<svelte:fragment slot="header">List</svelte:fragment>
	<form id="updateListForm" method="dialog" slot="body">
		<input type="text" bind:value={$updatedListName} />
	</form>
	<svelte:fragment slot="footer">
		<button type="submit" form="updateListForm" disabled={!$isAllowedUpdate}>save</button>
		<button type="button" on:click={deleteList}>delete</button>
		<button type="button" on:click={() => cancelUpdateListDialog(!$isAllowedUpdate)}
			>{$isAllowedUpdate ? 'cancel' : 'close'}</button
		>
	</svelte:fragment>
</Dialog>
